<!DOCTYPE html>
<html>
  <head>
    <title>BeastMode</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div class="container navbar-container">
	  	<nav class="navbar navbar-inverse col-md-12">
	  		<div class="fluid-container">
	  			<div class="navbar-header">
	  				<a class="navbar-brand" href="#">C-Mar</a>
	  			</div>
	  			<ul class="nav navbar-nav">
	  				<li class="nav-item"><%= link_to "Rundown", static_pages_rundown_path %></li>
	  			</ul>

	  			<ul class="nav navbar-nav header-middle">
	  				<li class="nav-item header-title">Melon Juice</li>
	  			</ul>

	  			<ul class="nav navbar-nav navbar-right right-nav">
	  				<% if signed_in? %>
	  					<li class="nav-item"><%= link_to "Profile", user_path(current_user) %></li>
	  					<li class="nav-item"><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
	  				<% else %>
	  					<li class="nav-item"><%= link_to "Log In", new_user_session_path %></li>
	  				<% end %>	
	  			</ul>
	  		</div>
	  	</nav>
	</div>
    <%= yield %>
  </body>
</html>
